POSTFLOW_LOCAL_PORT=3030
POSTFLOW_MEDIA_ROOT=C:\Instagram\READY
POSTFLOW_DONE_ROOT=C:\Instagram\READY\DONE
INSTAGRAM_APP_ID=
INSTAGRAM_APP_SECRET=
INSTAGRAM_REDIRECT_URI=http://127.0.0.1:3030/instagram/callback
